# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log